@model Instrumento

<h2>@Model.Brand @Model.Model</h2>

<img src="@Model.Link" alt="Alternate Text" style="height:250px"/>
<p>@Model.Description</p>
<h3>Preço: R$ @Model.Price</h3>
<br /><br />
<a class="btn btn-primary" asp-controller="Instrumentos" asp-action="Index">Voltar</a>